<?xml version=”1.0" encoding=”UTF-8"?>
<!DOCTYPE plist PUBLIC “-//Apple//DTD PLIST 1.0//EN” “http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version=”1.0">
  <dict>
    <key>method</key>
    <string>app-store</string>
    <key>teamID</key>
    <string>NM8ARDYRT4</string>
    <key>provisioningProfiles</key>
      <dict>
        <key>com.julianschroden.cineRemote</key>
        <string>CineRemote Release</string>
      </dict>
    </dict>
</plist>